{% extends 'layouts/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}{{pagetitle}}{% endblock %}
{% block content %}
<div class="d-flex align-items-center login-container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card border-0 rounded-3 shadow-lg">
                    <div class="card-body p-4 p-sm-5">
                        <h2 class="text-center">Iniciar Sesión</h2>
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="username" class="form-label">Correo Electrónico</label>
                                {% render_field form.username class="form-control" id="username" placeholder="Correo Electrónico" required="" %}
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Contraseña</label>
                                {% render_field form.password class="form-control" id="password" name="password" placeholder="Contraseña" required=""%}
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-dark">Iniciar Sesión</button>
                            </div>
                            <div class="text-center mt-3">
                                <a href="{% url 'book_manager:register' %}">¿No tienes cuenta? Regístrate</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}