{% extends 'layouts/base.html' %} 
{% load widget_tweaks %} 
{% block title%}{{pagetitle}}{% endblock %} 
{% block content %}
<section class="d-flex align-items-center login-container">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-4">
        <div class="sidebar">
          <div class="widget user card border-black p-4">
            <h3 class="text-center p-2">Estas seguro de eliminar {{ object }}</h3>
            <form method="post">
              {% csrf_token %}
              <div class="d-grid">
                <button type="submit" class="btn btn-danger mb-3">Eliminar</button>
                <a href="{{request.META.HTTP_REFERER}}" class="btn btn-dark">Cancelar</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}